html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.fa-whatsapp {
     color: white;
     background-color: #25D366;
     padding :2px;
}
header {
    position: fixed;
    top:0;
    left:0;
    /*padding: 0 100px;*/
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    background-color: rgb(19, 194, 173);
}
header .whatsapp {
    width: 30%;
    height: 90px;
    line-height: 90px;
    font-size: 24px;
    float: left;   
    text-align: center;
    
}
header .whatsapp a {
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
header nav {
    width: 65%;
    float: right;
}
header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li {
    list-style: none;
}
header nav ul li a {
    height: 90px;
    line-height: 90px;
    padding: 0 25px;
    color: white;
    text-decoration: none;
    display: block;
    font-size: 0.75em;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    

}
.dropdown {
    line-height: 85px;
    padding: 0 25px;
    text-decoration: none;
}
.menu-toggle {
    display: none;
}
.navwhatsapplogo {
    color: white;
     background-color: #25D366;
     padding :2px;
    float: left;
    display: none;
}
/* HEADER ENDED * /


/* Now the second part weekend image */

.imagelogo {
    display: none;
}

.description {
    /* 
    border: 2px solid blue; */
    margin: 16% 14% 5% 14%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.firstline {
    
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.secondline {
    font-size: 15px;
    color: gray;
    line-height: 23px;
}
.thirdline {
    font-size: 13px;
    color: rgb(214, 206, 206);
    
}
.weekendimg {
    height: 500px;
}


.icons a, .icons {
    text-decoration: none;
    color: rgb(19, 194, 173);
    margin: 5px;
}
.icons a {
    padding-left: 10px;
}
.downloadnow {
    color: white;
    display: none;
}
/* SECOND PART ENDS HERE */

/*THIRD PART STARTS HERE */
.thirdpart {
    display: flex;
    justify-content: space-between;
}
.businessapp {
    text-align: center;
    background-color: rgb(214, 229, 235);
    margin: 0 1% 0 0; 
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 580px;
}
span.busapp {
    color:rgb(99, 165, 187);
}
.sandraimg {
    width: 330px;
}
.first {
    font-size: 1.5em;
}
.second {
    font-size: 0.8em;
    letter-spacing: 1px;
}
.encryption {
    text-align: center;
    padding: 4%;
    background-color: rgb(228, 238, 241);
    margin: 0 0 0 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 580px;
}
div.circle {
    height: 200px;
    width: 200px;
    background-color: rgb(92, 194, 182);
    border-radius: 50%;
}
.encryptfirst {
    font-size: 0.75em;
    color: gray;
    letter-spacing: 1px;
    padding-top: 15px;
}
.encryptsecond {
    font-size: 1.5em;
    line-height: 0;
}
.encryptthird {
    font-size: 0.8em;
    letter-spacing: 1px;
}
/* Third part ended */
/* 4th part negins here */

.explore {   
    text-align: center;
    margin: 6% auto 6% auto;
    display: flex;
    justify-content: center;
    background-color: white;
}
.explore a {
    text-decoration: none;
    color: rgb(19, 194, 173);
    border:2px solid  rgb(19, 194, 173);
    border-radius: 50%;
    padding: 25px 30px 25px 30px;
    font-size: 1em;
    letter-spacing: 2px;
    font-weight: bold;

}
/*** FOOTER DIV ***/
.footerdiv {
    background-color: rgb(52, 70, 93);
    display: flex;
    padding: 2%;
    padding-left: 8%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}
.footerdiv ul {
    list-style: none;
    width: 23%;
}
.footerdiv a 
{
    text-decoration: none;
    color: white;
    line-height: 25px;

}
.footerdiv a:hover {
    text-decoration: underline;
}
.footerdiv p {
    color: rgb(173, 165, 165);
    font-weight: bold;
    font-size: 0.8em;
}
/* Actual footer */
footer {
    background-color: rgb(34, 46, 61);
    padding: 0;
    margin: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
footer section{
    display: flex;
    flex: 1;
    color: rgb(173, 165, 165);
}
.footersection2 {
    flex: 3;
}
.footersection1 {
    justify-content: center;
}
.footerpara2 {
    color: white;
}
/* MEDIA QUERIES */
@media all and (max-width: 1090px)
{
    /* header */
    #whatsapplink {
        visibility: hidden;
    }
    header .whatsapp {
        width: 6%;
    }
    header nav {
        width: 92%;

    }
    .fa-whatsapp {
    line-height: 85px;
    font-size: 24px;
    text-align: center;
    }
    header nav ul li {
        width: 15%;
    }
    header nav ul li a {
        font-size: 0.8em;
        padding: 0 8px 2px 0;
        text-align: center;

    }
    .dropdown {
        padding: 0 3px;
    }
    .weblink {
        width: 20%;
    }
    .downloadlink
    {
        width: 19%;
    } 
    .faqlink {
        width: 17%;
    }
    .featurelink
    {
        width: 19%;
    }
     .securitylink{
        width: 15%;
    }
    .dropdown {
        width: 10%;
    }
    /* header ended */
}
@media  all and (max-width: 770px)
{
    /*header query started for mobile*/
    .menu-toggle {
        display: block;
        color: white;
        float: right;
        line-height: 50px;
        padding-top: 0;
        padding-right: 20px;
        font-size: 24px;
        cursor: pointer;
    }
    .menu-toggle:before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.open:before {
        content: '\f00d';
    }
    header nav {
        position: absolute;
        width: 100%;
        margin-top: 38px;
        height: calc(100vh - 2px);
        background-color: rgb(19, 194, 173);
        top: 2px;
        left: 100%;
    }
    header nav.open {
        width: 100%;
        left: 0;
    }

    header nav ul {
        display: block;
        visibility: visible;
  
    }
    header nav ul li {
        font-size: 0.9em;
        width: 100%;
        padding-left: 10%;
    }
    .weblink, .featurelink, .downloadlink, .faqlink, .securitylink {
        width: 100%;
    }
    header nav ul li a {
        width: 90%;
        height: 60px;
        border-bottom: 1px solid lightgrey;
        font-size: 1em;
        text-align: left;
        line-height: 60px;
        font-weight: normal;
    }
    .whatsapp {
        visibility: hidden;
    }
    .navwhatsapplogo {
        display: block;
        float: left;
        position: absolute;
        top: 0;
    }
    .dropdown {
        padding-left: 10%;
        height: 60px;
        font-size: 1.2em;
        text-align: left;
        line-height: 35px;
    }
    header {
        position: fixed;
        height: 40px;
    }

    /*header query ended for mobile */

    /* SECOND PART */
    .imagelogo {
        display: block;
        background-color: rgb(19,194, 173);
        padding-top: 12%;
    }
    .description {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;
        padding: 0;
        background-color: rgb(19, 194, 173);
        width: 100%;
   
    }
    .firstline {
        color: white;
        font-size: 1.5em;
    }
    .secondline {
        color: white;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .icons {
        display: none;
    }
    .paras {
        width: 100%;
    }
    .downloadnow {
        color: white;
        font-size: 1em;
        text-decoration: none;
        background-color: rgb(68, 223, 124);
        border-radius: 20%;
        padding: 20px;
        margin: 5%;
        margin-top: 2%;
        margin-bottom: 7%;
        letter-spacing: 1px;
        text-align: center;
       font-weight: bold;
       display: flex;
       flex-direction: column;
        order: 4;     
    }
    .weekendimg {
      order: 5;
    }
    .thirdline {
        display: none;
    }
    
  .thirdpart {
      display: flex;
      flex-direction: column;
  }
  /* THIRD PART */
  .businessapp {
    margin: 0;
}
.encryption {
    margin: 0;
}
.footerdiv {
    width: 100%;
    display: flex;    flex-wrap: wrap;
    padding-left: 1%;
}
.footerdiv ul {
    
    width: 43%
}
.footerdiv ul li a {
    line-height: 40px;
}
footer {
    display: flex;
    flex-direction: column;
}
.footersection1 {
    justify-content: flex-start;
    padding-left: 10px;
    font-size: 0.8em;
}
.footersection2 {
    padding-left: 10px;
    font-size: 0.8em;
}
}
