html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    background-color: white;
    margin: 0;
    font-family: 'Segoe UI';
  }
  /* WHATSAPP ICON STYLING */
.fa-whatsapp {
   text-align: left;
    color: white;
    background-color: #25D366;
    padding :2px;
    display: flex;
}
.top p {
    color:white;
    text-decoration: none;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    
    align-content: flex-end;
}
.top i {
    background-color: #25D366;
}
header {/*
    border: 2px solid purple;*/
    background-color: rgb(19, 194, 173);
    width: 100%;
    max-height: 100px;
    position: fixed;
    top: 0;
}
#para {
    /* border: 2px solid red; */
    max-height: 45px;
}
.flex-nav {
    display: flex;
    flex: 1;
    justify-content: space-around;
}
/* HEADER HEIGHT */
.headeroption, .menu {
    color:white;
    font-size: 0.75em;
    font-weight: bold;
    text-decoration: none;
    padding:20px 5px;
    display: inline-flex;
    flex-direction: column;  
}
.dropdown {
    width: 40%;
}
  
  
  .maindiv {
   /* max-width: 1000px;*/
    margin: 0 auto;
  }
  

  
  /* Flex Container */
.flex-nav ul {
    align-items: center;
    background-color: rgb(19, 194, 173);
    list-style: none;
    margin: 0;
    padding: 0;
  /*  border: 1px solid black; */
    display: flex;
    width: 60%;
    max-height: 95px;
    
}
.flex-nav li {
    align-items: center;
    flex: 1;
}
.cent {
    text-align: center;
}
.menu {
    display: none;
}
  /* Now the second part weekend image */
.description {
    /* 
    border: 2px solid blue; */
    margin: 16% 14% 5% 14%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.firstline {
    font-size: 30px;
}
.secondline {
    font-size: 15px;
    color: gray;
}
.thirdline {
    font-size: 13px;
    color: rgb(214, 206, 206);
    
}
.weekendimg {/*
    border: 2px solid red; */
    height: 500px;
}
/*.paras {
    border: 2px solid peru;
}*/
.icons a, .icons {
    text-decoration: none;
    color: rgb(19, 194, 173);
    margin: 5px;
}
.icons a {
    padding-left: 10px;
}
.downloadnow {
    color: white;
    font-size: 0.1em;
}
/* SECOND PART ENDS HERE */

/*THIRD PART STARTS HERE */
.thirdpart {
    display: flex;
    justify-content: space-between;
}
.businessapp {
    text-align: center;
    background-color: rgb(214, 229, 235);
    margin: 1%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 590px;
}
span.busapp {
    color:rgb(99, 165, 187);
}
.sandraimg {
    /*
    border: 2px solid black; */
    width: 350px;
    display: flex;
}
.first {
    font-size: 1.5em;
}
.second {
    font-size: 0.8em;
    letter-spacing: 1px;
}
.encryption {
    text-align: center;
    padding: 4%;
    background-color: rgb(228, 238, 241);
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 590px;
}
div.circle {
    height: 200px;
    width: 200px;
    background-color: rgb(92, 194, 182);
    border-radius: 50%;
}
.encryptfirst {
    font-size: 0.75em;
    color: gray;
    letter-spacing: 1px;
    padding-top: 15px;
}
.encryptsecond {
    font-size: 1.5em;
    line-height: 0;
}
.encryptthird {
    font-size: 0.8em;
    letter-spacing: 1px;
}
/* Third part ended */


/* 4th part negins here */

.explore {   
    text-align: center;
    margin: 6% auto 6% auto;
    display: flex;
    justify-content: center;
    background-color: white;
}
.explore a {
    text-decoration: none;
    color: rgb(19, 194, 173);
    border:2px solid  rgb(19, 194, 173);
    border-radius: 50%;
    padding: 25px 30px 25px 30px;
    font-size: 1em;
    letter-spacing: 2px;
    font-weight: bold;

}
/*** FOOTER ***/
.footerdiv {
    background-color: rgb(52, 70, 93);
    display: flex;
    padding: 4% 12% 4% 12%;
}
.footerdiv section {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.footerdiv a 
{
    text-decoration: none;
    color: white;
    line-height: 25px;
}
.footerdiv p {
    color: rgb(173, 165, 165);
    font-weight: bold;
    font-size: 0.8em;
}
/* Actual footer */
footer {
    background-color: rgb(34, 46, 61);
    padding: 0;
    margin: 0;
    display: flex;
}
footer section{
    display: flex;
    flex: 1;
    color: rgb(173, 165, 165);
}
.footersection2 {
    flex: 3;
}
.footersection1 {
    justify-content: center;
}
@media all and (max-width:1000px) {
      
      .flex-nav li {
          flex: 1 1 50%;
          align-items: left;
      }
      .flex-nav {
          width: 100%;
          display: flex;
      }
      
      #whatsapplink {
          display: none;
      }
      .cent {
        text-align: left;
    }
      
}
@media all and (max-width: 790px) {
    .flex-nav ul.close
      {
          display: flex;
          flex-direction: column;
      }
        
}
  @media all and (max-width:800px) {
      body {
          background-color: white;
      }
      header {
          
          position: relative;
      }
      .flex-nav ul {
          max-height: 100%;
          width: 70%;
      }
      .dropdown {
          width: 80%;
      }
      .flex-nav li {
        color: rgb(19, 194, 173);
          flex-basis: 100%;
      }
      .maindiv {
          display: flex;
          flex-direction: column;
      }
      .maindiv > * {
          order: 100;
      }
      .cent {
        text-align: left;
    }
      .flex-nav {
          order: 1;
      }
      .menu {
          position: absolute;
          top: 0;
          right: 10px;
          display: block;
      }
      /*
      .flex-nav ul {
        display: none;
    }
      /*
      .flex-nav ul.open {
          display: flex;
          flex-direction: column;
      } */
      .description {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: 0;
          background-color: rgb(19, 194, 173);
          
      }
      .fa-whatsapp {
          margin-bottom: 0;
      }
      .firstline {
          color: white;
          font-size: 1.5em;
      }
      .secondline {
          color: white;
      }
      .thirdline {
          display: none;
      }
      
      .icons {
          display: none;
      }
      .paras {
          width: 100%;
      }
      .downloadnow {
          color: white;
          font-size: 1em;
          text-decoration: none;
          background-color: rgb(68, 223, 124);
          border-radius: 20%;
          padding: 20px;
          margin: 5%;
          letter-spacing: 1px;
          text-align: center;
         font-weight: bold;
         display: flex;
         flex-direction: column;
          order: 4;     
      }
      .weekendimg {
        order: 5;
      }
      
      .thirdline {
          order: 6;
    }
    .thirdpart {
        display: flex;
        flex-direction: column;
    }
    .businessapp {
        margin: 0;
        padding: 0;
    }
    .encryption {
        margin: 0;
    }
    div.footerdiv {
        display: flex;
        flex-direction: column;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
    .footersection1 {
        justify-content: flex-start;
        padding-left: 10px;
        font-size: 0.8em;
    }
    .footersection2 {
        padding-left: 10px;
        font-size: 0.8em;
    }
  }